{% extends 'base.html' %}

{% block content %}
<div class="nav d-flex justify-content-between bg-light">
    <div class="container py-3">
        <div id="custom-search-input w-100">
            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control" placeholder="Search python tips" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="py-2 border-bottom">
    <section class="col-xs-12 col-sm-6 col-md-12 my-2">
        {% for _ in 'sdhjsdsd' %}
		<article class="search-result row m-3">
			<div class="col-xs-12 col-sm-12 col-md-2">
                <div class="poster-img d-flex justify-content-center align-items-center">
                    <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>
                </div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="meta-search">
					<li><i class="fa fa-user"></i> <a href="#"><span>@daniel123</span></a></li>
					<li><i class="fa fa-thumbs-up"></i> <span>2k</span></li>
					<li><i class="fa fa-retweet"></i> <span>2k</span></li>
					<li><i class="fa fa-calendar"></i> <span>06/07/2021</span></li>
					<li><i class="bi bi-clock"></i> <span>4:28 pm</span></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 excerpet">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>
                <span><a href="#">View tip on twitter</a></span>
			</div>
			<span class="clearfix borda"></span>
		</article>
        {% endfor %}
	</section>
</div>
{% endblock %}